@charset "utf-8";

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Thin.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-ExtraLight.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-ExtraLight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Light.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Regular.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Medium.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Bold.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-ExtraBold.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard/Pretendard-Black.woff2) format('woff2'),
    url(../font/Pretendard/Pretendard-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans */
@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-ExtraLight.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-ExtraLight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-Light.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-Regular.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-Medium.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-SemiBold.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-Bold.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-ExtraBold.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../font/Noto_Serif_KR/NotoSerifKR-Black.woff2) format('woff2'),
    url(../font/Noto_Serif_KR/NotoSerifKR-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}