@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; font-size: 62.5%; }
a { text-decoration: none; color: #181818; }
ol, ul { list-style: none; }
table { border-collapse: collapse; width: 100%;}
caption, legend { display: none; }
input,select,textarea,fieldset { border: 0; outline: none; }
img { vertical-align: top; }

/* 글자기울임 방지 */
address, i, em { font-style: normal; }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: normal; }
button, input {
  background: transparent;
  border: none;
}